$primary_color: #F5B52F;
$secondary_color: #ff00ae;
$grey_darken_color: #787878;
$grey_color: #D7D7D7;
$grey_lighten_color: #F2F2F2;
$danger_color: #dc3232;

$font_weight_light: 300;
$font_weight_regular: 400;
$font_weight_medium: 500;
$font_weight_semi: 600;
$font_weight_bold: 700;

$size_tablet: 1.43rem;
$size_mobile_large: 1.286rem;
$size_mobile_medium: 1.286rem;
$size_mobile_normal: 1.143rem;
$size_mobile_default: 1rem;
$size_mobile_small: .86rem;